#cvsMandelbrot
{
    border: 1px solid black;
}

.mandelbrot-controls, .point-set, .gradient-picker>div {
    margin-top: .5em;
    margin-bottom: .5em;
}

/* #mandelbrot-display-wrapper>div {
     min-height: 500px;
     vertical-align: top;
 }*/


#gradient-preview {
    border: 1px solid black;
    width: 250px;
    height: 50px;
    background: url('images/1px_gradientstrip_v3.jpeg') repeat-y;
}

#imgGradient
{
    display: none;
}

#divTopLabels
{
    width: 100%;
}