#cvsMandelbrot
{
    border: 1px solid black;
}

.point-set, .gradient-picker>div {
    margin-top: .5em;
    margin-bottom: .5em;
}

.mandelbrot-controls {
    margin: 0 1em 0 1em;
}

/* #mandelbrot-display-wrapper>div {
     min-height: 500px;
     vertical-align: top;
 }*/


#gradient-preview {
    border: 1px solid black;
    width: 250px;
    height: 50px;
    background: url('images/1px_gradientstrip_v3.jpeg') repeat-y;
}

#imgGradient
{
    display: none;
}

#divTopLabels
{
    width: 100%;
}

/* ---- Table Layout ---- */
.mandelbrot-colored-table {
    display: table;
}

.mandelbrot-colored-table-row {
    display: table-row;
}

.mandelbrot-colored-table-cell {
    display: table-cell;
    min-height: 425px;
    vertical-align: top;
    margin: .5em;
}

.long-load-display
{
    display: none;
    margin-top: 5em;
    margin-bottom: 5em;
}

.long-load-playback
{
    margin-top: 5em;
    margin-bottom: 5em;
    color: red;
    display: none;

}
